POSTGRES_PASSWORD=set-a-local-password
# As variáveis abaixo só são necessárias ao ativar os profiles correspondentes.
RABBITMQ_PASSWORD=set-a-local-password
GRAFANA_PASSWORD=set-a-local-password
DEVICEPULSE_SEED_ADMIN_PASSWORD=set-a-local-password
JWT_SIGNING_KEY=set-at-least-32-random-characters
